.weather-card {
  padding: 15px 25px 21px 25px;
  border-radius: 20px;
  background: #e8e8e8;
  min-width: 250px;

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
  }

  &__time {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
  }

  &__forecast {
    display: flex;
    gap: 25px;
  }

  &__forecast-btn {
    font-size: 10px;
    font-weight: 500;
    border-radius: 10px;
    background: #ffb36c;
    width: 114px;
    height: 28px;
    display: block;
    margin: 10px auto 0 auto;
    border: none;
    cursor: pointer;
  }

  &__date {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
  }

  &__img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
  }

  &__temp {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
  }

  &__actions-left {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__icon {
    width: 28px;
    height: 30px;

    &--heart {
      fill: red;
    }

    &--refresh {
      width: 25px;
      height: 25px;
    }
  }

  &__icon-btn {
    width: 28px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__more-btn {
    width: 99px;
    height: 28px;
    border-radius: 10px;
    background: #ffb36c;
    cursor: pointer;
    font-size: 10px;
    font-weight: 500;
    border: none;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
