.news {
  padding-top: 20px;
  padding-bottom: 20px;

  &__title {
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 40px;
  }

  &__grid {
    display: flex;
    justify-content: space-between;
    row-gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__card {
    width: 270px;
    height: 270px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__image {
    width: 270px;
height: 208px;
object-fit: cover;
border-radius: 10px;
  }

  &__articletitle {
font-size: 16px;
font-style: normal;
font-weight: 500;
display: -webkit-box;
line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal; 
  max-height: 40px; 

  }

  &__link {
    text-decoration: none; 
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
}

  &__button {
    display: block;
    width: 160px;
    height: 50px;
    border-radius: 25px;
    background: #FFB36C;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto 0;
    border: none;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    &:hover {
      background-color: #E8E8E8;
      transform: scale(1.05);
    }
    &:disabled {
      background-color: #878787;
      cursor: not-allowed;
    }
  }
}